*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
/*stylos del header logo barra de navegacion*/
header{
    position: sticky;
    top: 0;
    z-index: 999;
}
.contenBtn-mobile{
    display: none;
    position:fixed;
    bottom: 150px;
    right: 0px;
    margin: 5px;
    padding: 5px;
    z-index: 1000;
}
/******** stylos para el button mobile******/
.mobile-btn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: red;
    transition: all ease-in-out 3s ;
    
}
.lineas-btn{
    width: 22px;
    height: 4px;
    background-color:black;
    margin: 1px;
    transition:all ease-in-out 0.3s;
}
.active-btn .linea1{
    transition:all ease-in-out 0.2s;
    opacity: 0;
}
.active-btn .linea2{
    position: absolute;
    transition:all ease-in-out 0.3s;
    transform: rotate(-50deg);
}

.active-btn .linea3{
    position: absolute;
    transition: all ease-in-out 0.3s;
    transform: rotate(50deg);
}


/**  logo de la pigina **/
.conteiner-header{
    width: 100%;
    background-color: red;
    height: 100px;
    display: flex;
    align-content: center;
}

.header--logo__img{
    width: 250px;
}
.header__nav--conten{
    height: 100%;
    padding: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}
a{
    text-decoration: none;
}
.items-nav{
    display: inline-block;
    padding: 3px 10px 3px 10px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

/*ACTIVE ITEMS hover*/
.items-nav:hover{
    color: red;
}
#items-active{
    color: white;
    border-bottom: 2px solid red;
    border-top: 2px solid red;
}


/*Stylos del main*/
main{
    scroll-behavior: smooth;
}
.main-slider{
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    transition: all 2s ease-out;
}
.main--slider__redes{
    position: absolute;
    right: 15px;
    top: 120px;
    display: flex;
    flex-direction: column;
}
.redes{
    width: 40px;
    margin: 5px;
}

#slider-img{
    width: 100%;
}
.slider-btn{
    position: absolute;
    width: 95%;
    font-size: 50px;
    color:white;
}
.fa-chevron-right{  
    position: absolute;
    right: 2px;
}
.main-mapa{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main--mapa__description{
    text-align: center;
    width: 80%;
}
.main--mapa__description h3{
    font-size: 35px;
    margin-bottom:.5em ;
}
.main--mapa__conten{
    width: 100%;
    height: 450px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mapa{
    width: 90%;
    height: 100%;
}
/*stylos del footer*/
footer{
    width: 100%;
    height: 200px;
    background-color: black;
    position: relative;
    bottom: 0px;
}
.conten-footer{
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}

/*trabajaremos con la parte responsive de la pagina home*/
@media screen and (max-width:600px){
    .conteiner-header{
        background-color:red;
        height: 80px;
        display: flex;
        z-index: 999;
    }
    .header-logo{
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 998;
    }
    .header--logo__img{
       width: 150px;
       margin: auto auto;
    }
    .header-nav{
        position: absolute;
        
        background-color: black;
        width: 100%;
        height: 100vh;
        z-index: 997;
        -moz-transform:translateY(-100vh) ;
        -webkit-transform: translateY(-100vh);
        transform:translateY(-100vh);
        transition: all ease-in-out 0.7s;
    }
    .nav-active{  
        -moz-transform:translateY(0vh) ;
        -webkit-transform: translateY(0vh);
        transform:translateY(0vh);      
    }
    .header__nav--conten ul{
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-align-last: center;
        font-size: 30px;
        padding-top: 2em;
        row-gap: 20px;
        
    }
    .contenBtn-mobile{
        display: inline-block;
    }
    .main-slider{
    position: static;
    height: auto;
    margin: 0;
 }
 .main--slider__redes{
    right: 15px;
    top: 80px;
    display: flex;
    flex-direction: column;
}
 .redes{
    width: 20px;
    margin: 2px;
}
.slider-btn{
    font-size: 20px;
}
.main-mapa{
    padding: 1em;
}
.main--mapa__description{
    width: 100%;
}
.main--mapa__conten{
    height: 200px;
}
#mapa{
    width: 100%;
    height: 100%;
}

}
footer{
    height: 150px;
    font-size: 10px;
}
